<h1>Welcome Secure Cloud Storage Services!!</h1>
<p><h2>What do you wanna do?</h2></p>
<%= link_to "Submit a File", uploads_show_path %>
<p>
<table>	<th><h3>List of secure files in your cloud thru secure system:</h3></th>
<% @det.each do |f| %>
<tr><td>
<h7><%= f.file_name %></h7></td>
<td>
<%= link_to '<button type="button">Retrive from clouds</button>'.html_safe, :controller => "uploads", :action => 'cloudretrieve', :pa => f.file_name %></td>
</tr>
<% end %>
</p>
</table>
<p><hr/><td>
<hr/>
<table>
	<th><h3>List of files in yourApp memory:</h3></th>
	<% @dat.each do |f| %>
	<tr>
		<td>
<h7><%= f.file_name %></h7> </td> 
<td><%= link_to '<button type="button">Securly store to cloud</button>'.html_safe , :controller => "uploads", :action => 'randomnames', :pa => f.file_name %></td> 
<td>
<%= link_to '<button type="button">Download to local</button>'.html_safe , :controller => "uploads", :action => 'download', :pa => f.file_name  %></td>
<td>
<%= link_to '<button type="button">Delete from App storage</button>'.html_safe, :controller => "home", :action => 'dellit', :pa => f %></td>
</tr>
<% end %>
</p>
</table>